<div class="row">
  <div class="column">
    <h2>Racing Telemetry: F1 22</h2>
  </div>
</div>

<div class="row">
  <div class="column">
    <ul>
      <li><%= link "Real Time Telemetry", to: Routes.page_path(@conn, :show_real_time) %></li>
      <li><%= link "Sessions", to: Routes.page_path(@conn, :index_sessions) %></li>
    </ul>
  </div>
</div>
