<div class="row">
  <div class="column">
    <h2>Racing Telemetry: F1 22</h2>
  </div>
</div>
<div class="row">
  <div class="column">
    <canvas id="player_gForce_chart_lat_long"></canvas>
  </div>

  <div class="column">
    <canvas id="player_gForce_chart_vert"></canvas>
  </div>
</div>
