<div class="row">
  <div class="column">
    <h2>F1 22: Sessions</h2>
  </div>
</div>
<div class="row">
  <div class="column">
    <ul>
      <%= for item <- @data.sessions do %>
        <li><%= item.inserted_at %>: <%= link "#{item.m_sessionUID}",
          to: Routes.page_path(@conn, :show_lap_data, item.m_sessionUID, item.m_playerCarIndex, 1) %></li>
      <% end %>
    </ul>
  </div>
</div>
